.git/**
.github/**
.vscode/**
.vscode-test/**
images/**
integration-tests/**
out/integration-tests/**
src/**
test-workspace/**
tests/**
out/tests/**
.editorconfig
.eslintrc.json
.gitignore
.vscodeignore
tsconfig.json
**/*.ts
**/*.vsix
!images/icon.png
!images/icon-black.svg
